.parent{
    align-items: flex-start;
    justify-content: space-around;
}

.child1 {
    display: flex;
    flex-direction: column;
}

.child2 {
    display: flex;
    flex-direction: column;
    /* min-width: 99%; */
    width: 78%;
    align-items: center;
}