.seat-section{
    border: 1px solid;
    border-radius: 5px;
    width: 600px;
    padding: 15px;
}
.seat-section h2{
    font-size: larger;
    padding: 15px 0;
}
.seats{
    gap: 10px;
}


.seats div{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0px;
    border: 3px solid rgb(154, 154, 154);
    width: 70px;
}
.seats button{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0px;
    border: 3px solid rgb(154, 154, 154);
    width: 70px;
}

.down-seat {
    grid-column-start: 3;
}